/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    /* position: sticky; */
    top:0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;

}

/* Navigation Bar:logo and image */
#logo{
margin: 5px 16p;
}
#logo img {
    height: 56px;
    /* width: 100px; */
    margin: 6px 19px;

}


/* Navigation Bar:list stlying */

#navbar ul{
    display: flex;
    font-family: 'Anton', sans-serif;
    font-family: 'Bree Serif', serif;

}


#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 34px;
    text-decoration: none;
    border-radius: 20px;

}
#navbar ul li a:hover{
    color: black;
    background-color: white;

}

/* Home Section */
#home{
    display: flex;
    height: 368px;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url('../bg 2.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 448px;
    /* height: 100%; */
    width: 100%; 
    z-index: -1;
    opacity: 0.89;
 
}


#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section  */
#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 20px;
    margin: 14px 19px;
    border-radius: 28px;
    background-color: #f6f4f4;
   
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}

/* Client Section */
#client-section{
    /* height: 356px; */
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg 5.jpg');
    width: 100%;
    height: 99%;
    z-index: -1;
    opacity: 0.4;
    
    
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}
.client-item{
    padding: 13px;
}

#clients img{
  height: 122px;
 

}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg')no-repeat center center/cover;

}

#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

footer{
    background-color: black;
    color: white;
    padding: 9px 36px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.2rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.9rem;
    padding: 12px;
}
.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    /* border-radius: 10px;
    cursor: pointer; */
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}



